<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="http://localhost:4200/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="http://localhost:4200/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="http://localhost:4200/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<div class="background"></div>
<h1>Understanding Eclipses</h1>
<div class="video-container">
    <section id="video1" class="section">
        <h1>Solar Eclipse</h1>
        <video width="600" height="400" controls>
            <source src="../../../../assets/v1.mp4" type="video/mp4">
            <source src="../../../../assets/v1.ogg" type="video/ogg">
        </video>
    </section>
    
    <section id="video2" class="section">
        <h1>Lunar Eclipse</h1>
        <video width="600" height="400" controls>
            <source src="../../../../assets/v2.mp4" type="video/mp4">
            <source src="../../../../assets/v2.ogg" type="video/ogg">
        </video>
    </section>
</div>
