
<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="http://localhost:4200/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="http://localhost:4200/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="http://localhost:4200/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<div class="background"></div>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<div style="max-width: 800px;
margin: auto;
padding: 20px;
border: 1px solid #58e4fab5;
background-color: #11e9c54b;"*ngIf="startQuizNow === false">
<div *ngIf="startQuizNow === false" style="display: flex;justify-content: center;margin: 3.125rem;" >
    <div style="width: 41.66667%;">
        <h2 style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">Your Quiz Is Ready</h2>
           <div style="max-width: 100rem;
            margin: auto;
            padding: 20px;
            border: 1px solid #fae858;
            background-color: #d1f7f7;">
            
                <form [formGroup] = "quizForm" (ngSubmit)="showWarningPopup()" autocomplete="off" class="p-3 border">
                    <div class="form-floating mb-3">
                        <label for="name">Type Your Name  </label>
                        <input formControlName = "name" type="text" class="form-control" placeholder="Name">               
                    </div>    
                    <div style="display: grid; margin-top: 1rem; padding-left: 1rem;
                    padding-right: 1rem;
                    ">
                        <button class="btn btn-warning" type="submit" [disabled]="!isQuizFormComplete">SAVE & Start Quiz</button>
                    </div>
                </form>
            </div>
    </div>
</div>
</div>

<div class="info_box" [ngClass]="showWarning ? 'activeInfo':''">
    <div class="info-title"><span>Rules of Eclipse Quiz</span></div>
    <div class="info-list">
        <div class="info">1. Just <span>10 questions </span>for you.</div>
        <div class="info">2. Let's see what you learned.</div> 
        <div class="info">3. Have FUN!</div> 
    </div>
    <div class="buttons">
        <button class="restart" (click)="startQuiz()">Continue</button>
    </div>
</div>  

<div class="quiz_box" [ngClass]="isQuizStarted? 'activeQuiz':''">
    <header>
        <div class="title">Eclipse Quiz Game</div>
    </header>
    <section *ngIf="isQuizStarted && questionsList && questionsList.length > 0">
        <div class="que_text"><span>{{currentQuestionNo+1}}. {{questionsList[currentQuestionNo].question}} </span></div>
        <div class="que_img"><img src="{{questionsList[currentQuestionNo].quizPic}}"></div>
        <div class="option_list">
            <div class="option"  [ngClass]="{'disabled': isOptionSelected(questionsList[currentQuestionNo].options),
                                            'correct':option.isSelected && option.isCorrect,
                                            'incorrect':option.isSelected  && !option.isCorrect}" (click)="selectOption(option)" *ngFor="let option of questionsList[currentQuestionNo].options">
                <span>{{option.answer}}</span> 
            </div> 
        </div>
        
    </section> 

    <footer>
        <div class="total_que"><span>
                <p>{{currentQuestionNo+1}} / {{questionsList.length}} Questions</p>
            </span></div>
        <button *ngIf="currentQuestionNo+1 == questionsList.length" class="next_btn show" (click)="finish()">Finish</button>
        <button *ngIf="currentQuestionNo+1 !== questionsList.length" class="next_btn show" (click)="nextQuestion()">Next</button>
    </footer>
</div>


<div class="result_box" [ngClass]="isQuizEnded?'activeResult':''">
    <div class="icon">
        <i class="fas fa-crown"></i>
    </div>
    <div class="complete_text"> Quiz complete!</div>
    <div class="score_text">
        <p>Congrats! , You got {{correctAnswerCount}} out of {{questionsList.length}}</p>
    </div>
    <div class="buttons">
        <button class="quit" (click)="quit()">Quit Quiz</button>
    </div>
</div>

<div class="modal-cert-container" id="certificate" *ngIf="correctAnswerCount === 10">  
    <div class="modal-cert-content-container">
        <h1>Download your eclipse expert certificate :)</h1>
        <canvas id="canvas" class="diploma-container"></canvas>

        <div class="modal-button-container">
            <button id="downloadButton">Download !</button>
        </div>

        <div class="modal-button-container">
            <button onclick="closeAll();">Continue</button>
        </div>
    </div>
</div>

<!-- 

    <main>
        <div class="modal-container" id="score-modal">

            <div class="modal-content-container">

                <h1>Congratulations, Quiz Completed.</h1>

                <div class="grade-details">
                    <p>Wrong Answers : <span id="wrong-answers"></span></p>
                    <p>Right Answers : <span id="right-answers"></span></p>
                    <p>Grade : <span id="grade-percentage"></span>%</p>
                    <p ><span id="remarks"></span></p>
                    <br />
                    <label style="color: white;">Enter your name:</label><br />
                    <input id="name">
                </div>

                <div class="modal-button-container">
                    <button onclick="closeScoreModal()">Continue</button>
                </div>

            </div>
        </div>

        <div class="modal-cert-container" id="certificate">
            <div class="modal-cert-content-container">
                <h1>Download your eclipse expert certificate :)</h1>
                <canvas id="canvas" class="diploma-container"></canvas>

                <div class="modal-button-container">
                    <button id="downloadButton">Download !</button>
                </div>

                <div class="modal-button-container">
                    <button onclick="closeAll();">Continue</button>
                </div>
            </div>
        </div>


        <div class="game-quiz-container">

            <div class="game-details-container">
                <h1>Score : <span id="player-score"></span> / 10</h1>
                <h1> Question : <span id="question-number"></span> / 10</h1>
            </div>

            <div class="game-question-container">
                <h1 id="display-question"></h1>
            </div>

            <div class="game-options-container">

               <div class="modal-container" id="option-modal">

                    <div class="modal-content-container">
                         <h1>Please Pick An Option</h1>

                         <div class="modal-button-container">
                            <button onclick="closeOptionModal()">Continue</button>
                        </div>

                    </div>

               </div>

                <span>
                    <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
                    <label for="option-one" class="option" id="option-one-label"></label>
                </span>


                <span>
                    <input type="radio" id="option-two" name="option" class="radio" value="optionB" />
                    <label for="option-two" class="option" id="option-two-label"></label>
                </span>


                <span>
                    <input type="radio" id="option-three" name="option" class="radio" value="optionC" />
                    <label for="option-three" class="option" id="option-three-label"></label>
                </span>


                <span>
                    <input type="radio" id="option-four" name="option" class="radio" value="optionD" />
                    <label for="option-four" class="option" id="option-four-label"></label>
                </span>


            </div>
            <img id="Quiz_pic" src="/src/assets/Quiz_Background.jpg" class="game-pic-container">
            <div class="next-button-container">
                <button onclick="handleNextQuestion()">Next Question</button>
            </div>

        </div>
    </main> -->