<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="https://eclipse.controlf5.software/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<div class="container">
    <section id="home" class="section">
        <video width="500" height="400" controls autoplay>
            <source src="../../../../assets/v2.mp4" type="video/mp4">
            <source src="../../../../assets/v2.ogg" type="video/ogg">
          </video>
    </section>
    <section id="about" class="section">
        <div id="star">
			<div id="planet">
		  </div>
		</div>
    </section>
    <section id="service" class="section">
        <div id="star1">
			<div id="planet1">
		  </div>
		</div></section>
    <section id="contact" class="section">
        <div id="star2">
			<div id="planet2">
		  </div>
		</div></section>
  </div>