<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="http://localhost:4200/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="http://localhost:4200/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="http://localhost:4200/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<div class="background"></div>

<div style=" margin: 10rem;">
    <h1 style="text-align: center; font-size: 30px;">Why I can see the eclipse but others don't?</h1>
   <ul style="display: flex; gap:5rem;font-size: 22px;margin-top: 5rem;">
    <li style="background-color: rgba(240, 248, 255, 0.576); padding: 1rem;">
        <p>Great question! <span style="font-weight: 800;">It's because of how the Earth, Moon, and Sun move around in space.</span> Imagine the Earth as a big ball and the Moon going around it like a toy train on a circular track. Now, picture the Sun shining a bright light.
        </p>
     <p>During an eclipse, the Moon moves in between the Earth and the Sun. But it doesn't happen all at once for everyone on Earth. It's like when you <span style="font-weight: 800;">play with a flashlight</span> and your friend stands on the other side of the room. If you put your hand in front of the flashlight, only your friend will see the shadow, not everyone in the room.</p>
    </li>
    <li style="background-color: rgba(236, 246, 177, 0.585); padding: 1rem;">
  
       <p>
           Similarly, during a <span style="font-weight: 800;">solar eclipse</span> (when the Moon covers the Sun), only people in a specific area on Earth where the Moon's shadow falls will see the eclipse. This area is called the "path of totality." It's like a special zone where you get to see the eclipse show!
        </p>
        <p>
           For a <span style="font-weight: 800;">lunar eclipse</span> (when the Moon goes into Earth's shadow), it's the same idea. The Earth comes between the Sun and the Moon, but not everyone on Earth will see it at the same time. It depends on where you are in the world.
        </p>
        <p>So, it's like a <span style="font-weight: 800;">big cosmic game of hide and seek</span>, and only some parts of the world get to see the eclipse at a given time. </p>

    </li>

   </ul>
  
 </div>