<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="https://eclipse.controlf5.software/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<p>.</p>
<p>.</p>
<p>.</p>
<div class="grid-container">
    <div class="grid-item">
        <a class="card-image" href="https://eclipse.controlf5.software/SolarEclipse/SolarEclipse" target="_blank" style="background-image: url(assets/sun.jpg);">
			<img src="../../../../assets/sun.jpg" alt="UnderstandingEclipses" />
		</a>
        <a class="card-description" href="https://eclipse.controlf5.software/SolarEclipse/SolarEclipse" target="_blank">
			<h2>Solar Eclipse</h2>
		</a>
    </div>
    <div class="grid-item">
        <a class="card-image" href="https://eclipse.controlf5.software/LunarEclipse/LunarEclipse" target="_blank" style="background-image: url(assets/bm.jpeg)">
			<img src="../../../../assets/bm.jpeg"/>
		</a>
        <a class="card-description" href="https://eclipse.controlf5.software/LunarEclipse/LunarEclipse" target="_blank">
			<h2>Lunar Eclipse</h2>
		</a>
    </div>
  
</div>
