<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="https://eclipse.controlf5.software/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<div class="background"></div>

<div style=" margin: 9rem;">
    <h1 style="text-align: center; font-size: 30px;">Eclipse Prediction & Seasonal Patterns</h1>
   <ul style="display: flex; gap:5rem">
    <li style="background-color: rgba(240, 248, 255, 0.46); padding: 1rem;">
        <p>Let's imagine a big space puzzle! <span style="font-weight: 700;">Scientists want to know when the Sun, Moon, and Earth will line up in a special way called an eclipse</span>. To figure this out, they use really smart math and powerful computers.
        </p>
     <p>They start by understanding how Earth, Moon, and the Sun move around in space because of their strong pulls on each other. It's a bit like how magnets work, but much bigger!
     </p>
     <p>
     Then, they put all this information into their computers and tell them to imagine how everything will move in the future or even in the past.<span style="font-weight: 800;"> It's like playing a time-traveling game on a computer!</span>
     </p>
     <p>
     The computer then tells the scientists <span style="font-weight: 800;">exactly when an eclipse will happen</span>. <span style="font-weight: 800;">They can even predict it down to less than a minute over hundreds of years</span>. That's super accurate!
     </p>
    </li>

    <li style="background-color: rgba(177, 214, 246, 0.46); padding: 1rem;">
  
        <p>
            But here's something really cool: <span style="font-weight: 800;">eclipses happen in patterns</span>. Imagine you have a favorite toy and you know exactly when you'll get to play with it again. For eclipses, there's something called the <span style="font-weight: 800;">Saros Series</span>. It's like a special calendar for eclipses.
            </p>
            <p>
            For example, after a lunar eclipse (when the Moon goes into Earth's shadow), about 9 years later, there will be a solar eclipse (when the Moon covers the Sun). And <span style="font-weight: 800;">after about 18 years, 11 days, and 8 hours</span>, a very similar eclipse will happen again. It's like a space dance that happens over and over!
            </p>
            <p>
            So, even though the eclipses might look a bit different each time, they follow a special rhythm that scientists have figured out. It's like a song that repeats, but with little changes each time.
            </p>
    </li>

   </ul>
  
 </div>