<div class="color-palette" style="    height: 30px;">
    <button (click)="selectColor('red')" class="color-button" style="background-color: red;"></button>
    <button (click)="selectColor('blue')" class="color-button" style="background-color: rgb(21, 96, 188);"></button> 
    <button (click)="selectColor('yellow')" class="color-button" style="background-color: rgb(255, 221, 0);"></button>
    <button (click)="selectColor('green')" class="color-button" style="background-color: rgb(34, 203, 0);"></button>
    <button (click)="selectColor('purple')" class="color-button" style="background-color: rgb(155, 21, 176);"></button>
    <button (click)="selectColor('pink')" class="color-button" style="background-color: rgb(218, 36, 148);"></button>
    <button (click)="selectColor('white')" class="color-button" style="background-color: rgb(255, 255, 255);"></button>
    <button (click)="selectColor('orange')" class="color-button" style="background-color: rgb(246, 165, 43);"></button>
   
  </div>
<canvas #coloringCanvas #canvas style="border: 1px solid" width="1500" height="700">
    Fallback content
</canvas>
