<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="http://localhost:4200/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="http://localhost:4200/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="http://localhost:4200/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<p>.</p>
<p>.</p>
<p>.</p>
<div class="grid-container">
    <div class="grid-item">
        <a class="card-image" href="http://localhost:4200/UEclipse" target="_blank" style="background-image: url(assets/understandingEclipses.jpeg);">
			<img src="assets/understandingEclipses.jpeg" alt="UnderstandingEclipses" />
		</a>
        <a class="card-description" href="http://localhost:4200/UEclipse" target="_blank">
			<h2>Understanding Eclipses</h2>
			<p>Causes & Alignement</p>
		</a>
    </div>
    <div class="grid-item">
        <a class="card-image" href="http://localhost:4200/SLEclipse" target="_blank" style="background-image: url(assets/solarvslunar.jpeg)">
			<img src="assets/solarvslunar.jpeg"/>
		</a>
        <a class="card-description" href="http://localhost:4200/SLEclipse" target="_blank">
			<h2>Solar vs Lunar Eclipse</h2>
			<p>Battle</p>
		</a>
    </div>


    <div class="grid-item">

        <a class="card-image" href="http://localhost:4200/EVisions" target="_blank" style="background-image: url(assets/whyme.jpeg)">
			<img src="assets/whyme.jpeg" alt="Eclipsed Visions" />
		</a>
        <a class="card-description" href="http://localhost:4200/EVisions" target="_blank">
			<h2>Eclipsed Visions</h2>
			<p>The Select Few</p>
		</a>
    </div>

    <div class="grid-item">

        <a class="card-image" href="http://localhost:4200/EclipsePred" target="_blank" style="background-image: url(assets/prediction.jpeg)">
			<img src="assets/prediction.jpeg" alt="EclipsePred" />
		</a>
        <a class="card-description" href="http://localhost:4200/EclipsePred" target="_blank">
			<h2>Eclipse Prediction & Seasonal Patterns </h2>
		</a>
    </div>

    <div class="grid-item">

        <a class="card-image" href="http://localhost:4200/DrawTimeI" target="_blank" style="background-image: url(assets/draw.jpeg);">
			<img src="assets/draw.jpeg" alt="DrawTime" />
		</a>
        <a class="card-description" href="http://localhost:4200/DrawTimeI" target="_blank">
			<h2>It's drawing time... Let's paint🎨</h2>
		</a>
    </div>
    <div class="grid-item">

        <a class="card-image" href="http://localhost:4200/Quiz" target="_blank" style="background-image: url(assets/quiz.jpeg)">
			<img src="assets/quiz.jpeg" alt="Quiz"/>
		</a>
        <a class="card-description" href="http://localhost:4200/Quiz" target="_blank">
			<h2>Quiz Just for you📝</h2>
		</a>
    </div>

    <div class="grid-item">

        <a class="card-image" href="http://localhost:4200/Live" target="_blank" style="background-image: url(assets/Logo.png);">
			<img src="assets/Logo.png" alt="Quiz" />
		</a>
        <a class="card-description" href="http://localhost:4200/Live" target="_blank">
			<h2>ECLIPSE LIVE</h2>
            <p>Watch now</p>
		</a>
    </div>
</div>


