<nav class="navbar navbar-light">
    <div class="eclipse-bar">
        <div>
            <a class="navbar-brand" href="#">
                <img src="assets/Logo.png"
                    height="100vh" alt="" loading="lazy" class="logo" />
            </a>
        </div>
    
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/Simulator/Simulator">
                Eclipse Simulator 
            </a>
        </div>
        
        <div>
            <a class="link-bar" href="https://eclipse.controlf5.software/SolarEclipse/SolarEclipse">
                Solar Eclipse 
            </a>
        </div>
       <div>
        <a class="link-bar" href="https://eclipse.controlf5.software/LunarEclipse/LunarEclipse">
            Lunar Eclipse 
        </a>
       </div>
    </div>

</nav>
<p style="color: rgba(240, 248, 255, 0);">,</p>
<div class="background"></div>
<div style=" display: flex;
justify-content: center;
align-items: center;
height: 90vh;">

    <youtube-player 
        [videoId]="currentVideoId"
        suggestedQuality="highres"
        [height]="600"
        [width]="1080"
        [playerVars]="playerVars" 
        (ready)="savePlayer($event)"
        *ngIf="showPlayer"
        class="live">
    </youtube-player>

</div>
